
<div class="row">
  <div class="small-6 columns" id="generators">

    <h6>Generators</h6>
    <table class="no-rows tight-spacing">
      <tbody>
      <tr class="template" hidden>
        <td class="nostretch"><a class="on-off fa fa-fw"></a></td>
        <td class="name"></td>
        <td class="value text-right nostretch"></td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="small-6 columns" id="consumers">

    <h6>Consumers</h6>
    <table class="no-rows tight-spacing">
      <tbody>
      <tr class="template" hidden>
        <td class="nostretch"><a class="on-off fa fa-fw"></a></td>
        <td class="name"></td>
        <td class="value text-right nostretch"></td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="small-6 columns" id="resources">

    <h6>Resources</h6>
    <table class="no-rows tight-spacing">
      <tbody>
      <tr class="template" hidden>
        <td class="name"></td>
        <td class="value text-right nostretch"></td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="small-6 columns" id="logg">
    <h6>Log</h6>
    <table class="no-rows tight-spacing">
      <tbody>
      <tr>
        <td id="base-log"></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<!--<div class="row">-->
  <!--<div class="small-24 columns">-->
    <!--Bottom text-->
  <!--</div>-->
<!--</div>-->
