
<div class="row">

  <div class="small-8 columns">
    <div class="row">
      <div class="small-24 columns" id="generators">
        <%= render partial: 'main/devices', locals: { device_type: 'generator' } %>
      </div>
    </div>
    <div class="row">
      <div class="small-24 columns" id="consumers">
        <%= render partial: 'main/devices', locals: { device_type: 'consumer' } %>
      </div>
    </div>
  </div>

  <div class="small-8 columns" id="resources">
    <h6>Resources</h6>
    <table class="no-rows tight-spacing">
      <tbody>
      <tr class="template" hidden>
        <td class="name"></td>
        <td class="value text-right nostretch"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="small-8 columns">
    <h6>Log</h6>
    <table class="no-rows tight-spacing">
      <tbody>
      <tr>
        <td>
          <div id="base-log"></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <%= render partial: 'main/details' %>


</div>