<div hidden>
<div id="device-details">
  <!--<h6>Details</h6>-->

  <table class="no-rows tight-spacing">
    <tbody>
    <tr>
      <td class="name"></td>
      <td></td>
      <!--<td class="text-right"><a class="fa fa-fw fa-times close"></a></td>-->
    </tr>
    <tr class="unique-label" hidden>
      <td>Unique</td>
    </tr>
    <tr>
      <td class="description" colspan="2"></td>
    </tr>
    <tr>
      <td colspan="2"><hr></td>
    </tr>
    <tr>
      <td class="energy-description"></td>
      <td class="energy-rate text-right"></td>
    </tr>
    <tr class="materials-header" hidden>
      <td colspan="2">Materials:</td>
    </tr>
    <tr class="material-template" hidden>
      <td class="material-name"></td>
      <td class="material-quantity text-right"></td>
    </tr>
    <tr>
      <td>Quantity:</td>
      <td class="text-right">3</td>
    </tr>
    <tr>
      <!--<td class="text-right">-->
      <!--</td>-->
      <td colspan="2" class="text-right disabled-text button-description">
        This item is unique

        <button class="build-device button disabled">
          Build
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
</div>