
<h6><%= device_type.pluralize %></h6>

<table class="device-list no-rows tight-spacing">
  <tbody>
  <tr class="template" hidden>
    <td class="nostretch"><a class="on-off fa fa-fw"></a></td>
    <td class="">
      <a class="name"></a>
    </td>
    <td class="value text-right nostretch"></td>
  </tr>
  </tbody>
</table>

