<div class="row canvas-and-log">
  <div class="small-24 columns canvas-container">
    <!--<canvas id="background-canvas">Your browser does not support HTML5 Canvas.</canvas>-->
    <canvas id="main-canvas">Your browser does not support HTML5 Canvas.</canvas>
    <!--<canvas id="foreground-canvas">Your browser does not support HTML5 Canvas.</canvas>-->
    <!--<canvas id="hidden-canvas">Your browser does not support HTML5 Canvas.</canvas>-->
    <div class="row">
      <div class="columns small-12 player-unit-frame">
        <table class="no-rows tight-spacing">
          <tbody>
          <tr class="health-row">
            <td class="nostretch"><b>Health</b></td>
            <td><div class="status-bar"></div></td>
            <td class="nostretch status-text"></td>
          </tr>
          <tr class="shield-row">
            <td class="nostretch"><b>Shield</b></td>
            <td><div class="status-bar"></div></td>
            <td class="nostretch status-text"></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="columns small-12 enemy-unit-frame">
        <table class="no-rows tight-spacing">
          <tbody>
          <tr class="health-row">
            <td class="nostretch"><b>Health</b></td>
            <td><div class="status-bar"></div></td>
            <td class="nostretch status-text"></td>
          </tr>
          <tr class="shield-row">
            <td class="nostretch"><b>Shield</b></td>
            <td><div class="status-bar"></div></td>
            <td class="nostretch status-text"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="small-24 columns log-container">

  </div>
</div>

<div class="row">
  Bottom text
</div>
