

<div class="row" id="navigation-bar">

</div>

<div class="row row-full main-content">
  <div class="columns small-24">
    <div class="row">
      <div class="columns small-18">
        <h6>Space Pirate</h6>
      </div>
      <div class="columns small-3 stat-tables">
        <table class="no-rows tight-spacing">
          <tbody>
          <tr>
            <td width="50%" class="text-right">Time:</td>
            <td width="50%" id="total-time"></td>
          </tr>
          <tr>
            <td width="50%" class="text-right">Ore:</td>
            <td width="50%" id="ore"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="columns small-3 stat-tables">
        <table class="no-rows tight-spacing">
          <tbody>
          <tr>
            <td class="text-right">FPS:</td>
            <td id="fps"></td>
          </tr>
          <tr>
            <td class="text-right">Memory:</td>
            <td id="memory"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row canvas-and-log">
      <div class="small-24 columns canvas-container">
        <!--<canvas id="background-canvas">Your browser does not support HTML5 Canvas.</canvas>-->
        <canvas id="main-canvas">Your browser does not support HTML5 Canvas.</canvas>
        <!--<canvas id="foreground-canvas">Your browser does not support HTML5 Canvas.</canvas>-->
        <!--<canvas id="hidden-canvas">Your browser does not support HTML5 Canvas.</canvas>-->
        <div class="row">
          <div class="columns small-12 player-unit-frame">
            <table class="no-rows tight-spacing">
              <tbody>
              <tr class="health-row">
                <td class="nostretch"><b>Health</b></td>
                <td><div class="status-bar"></div></td>
                <td class="nostretch status-text"></td>
              </tr>
              <tr class="shield-row">
                <td class="nostretch"><b>Shield</b></td>
                <td><div class="status-bar"></div></td>
                <td class="nostretch status-text"></td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="columns small-12 text-right">
            <span class="fa fa-fw fa-3x fa-rocket"></span>
            <span class="fa fa-fw fa-3x fa-bolt"></span>
            <span class="fa fa-fw fa-3x fa-eye"></span>
            <span class="fa fa-fw fa-3x fa-diamond"></span>
          </div>
        </div>
      </div>
      <div class="small-24 columns log-container">

      </div>
    </div>

    <div class="row">
      Bottom text
    </div>

  </div>
</div>