
<div class="row main-content">
  <div class="columns small-12">
    <h1>Hello!</h1>
  </div>
  <div class="columns small-12">
    <h1>Hello!</h1>
    <span class="fa fa-fw fa-info-circle"></span>
  </div>
</div>