
<div class="row row-full main-content">
  <div class="columns small-24">
    <div class="row" hidden>
      <div class="columns small-15">
        <h6>Space Pirate</h6>
      </div>
      <div class="columns small-3 stat-tables">
        <table class="no-rows tight-spacing">
          <tbody>
          <tr>
            <td width="50%" class="text-right">Time:</td>
            <td width="50%" id="total-time"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="columns small-3 stat-tables">
        <table class="no-rows tight-spacing">
          <tbody>
          <tr>
            <td width="50%" class="text-right">FPS:</td>
            <td width="50%" id="fps"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="columns small-3 stat-tables">
        <table class="no-rows tight-spacing">
          <tbody>
          <tr>
            <td width="50%" class="text-right">Memory:</td>
            <td width="50%" id="memory"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ul class="tabs" data-tab style="margin-top:0;">
      <li class="tab-title active"><a href="#resource-panel">Base</a></li>
      <li class="tab-title"><a href="#world-panel">World</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="resource-panel">
        <%= render partial: 'main/base' %>
      </div>
      <div class="content" id="world-panel">
        <%= render partial: 'main/world' %>
      </div>
    </div>

  </div>
</div>