

<div class="row" id="navigation-bar">

</div>

<div class="row row-full main-content">
  <div class="columns small-24">
    <div class="row">
      <div class="columns small-18">
        <h6>Space Pirate</h6>
      </div>
      <div class="columns small-3 stat-tables">
        <table>
          <tbody>
          <tr>
            <td width="50%" class="text-right">Time:</td>
            <td width="50%" id="total-time"></td>
          </tr>
          <tr>
            <td width="50%" class="text-right">Ore:</td>
            <td width="50%" id="ore"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="columns small-3 stat-tables">
        <table>
          <tbody>
          <tr>
            <td class="text-right">FPS:</td>
            <td id="fps"></td>
          </tr>
          <tr>
            <td class="text-right">Memory:</td>
            <td id="memory"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="columns small-24" style="font-size:14px;font-family:monospace;">
        Here is example text
      </div>
    </div>

    <div class="row canvas-and-log">
      <div class="small-24 columns canvas-container">
        <!--<canvas id="background-canvas">Your browser does not support HTML5 Canvas.</canvas>-->
        <canvas id="main-canvas">Your browser does not support HTML5 Canvas.</canvas>
        <!--<canvas id="foreground-canvas">Your browser does not support HTML5 Canvas.</canvas>-->
        <!--<canvas id="hidden-canvas">Your browser does not support HTML5 Canvas.</canvas>-->
        <div class="row">
          <div class="columns small-12" style="font-family:monospace;">
            Health: [//////////---------------] 1200 / 2500<br>
            Shield: [////////////-------------] &nbsp;300 / &nbsp;720<br>
            Power: &nbsp;[///////------------------] &nbsp;&nbsp;24 / &nbsp;&nbsp;50<br>
            <!--<table></table>-->
          </div>
          <div class="columns small-12 text-right">
            <span class="fa fa-fw fa-3x fa-rocket"></span>
            <span class="fa fa-fw fa-3x fa-bolt"></span>
            <span class="fa fa-fw fa-3x fa-eye"></span>
            <span class="fa fa-fw fa-3x fa-diamond"></span>
          </div>
        </div>
      </div>
      <div class="small-24 columns log-container">

      </div>
    </div>

    <div class="row">
      Bottom text
    </div>

  </div>
</div>