/* ----------------------------------------------- */
/*
Heading
Anchors
Icon Font Colors
*/
/* ----------------------------------------------- */

body{
  font-family: $font-family;
  font-weight: 400;
  background: $body-grey;
  color: $dark-grey;

  &.slow-transitions {
    transition-duration: 5s; // TODO if you change this, update lamp.js timeout

    h1, h2, h3, h4, h5, h6 {
      transition-duration: 5s;
    }

    a,
    a:link {
      transition-duration: 5s;
    }
  }

  .glow {
    -webkit-animation: black-glow 0.5s 2 alternate;
  }

  table {
    font-size: $font-size-list;

    thead tr th {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.05em;
      font-size: $font-size-thead;
      color: inherit;
    }

    tbody tr td {
      color: inherit;
    }
  }

  // Headings
  h1, h2, h3, h4, h5, h6{
    color: $black;
    text-transform: uppercase;
    letter-spacing: 0.04em; // Same as Tab titles
    font-weight: 700;
  }

  h1{
    font-size: 1.500em; // 24px
  }

  h2{
    font-size: 1.375em // 22px
  }

  h3{
    font-size: 1.250em; // 20px
  }

  h4{
    font-size: 1.125em; // 18px;
  }

  h5{
    font-size: 1.0em; // 16px;
  }

  h6{
    font-size: 0.875em; // 14px;
  }

  small{
    font-size: 0.875em;
  }

  p{
    font-size: 0.875rem;
    line-height: 1.8;
    margin: 0;
  }


  /* ----------------------------------------------- */

  // Links
  a,
  a:link{
    color: $black;

    &.button{
      text-decoration: none;
    }
  }

  a:visited{
    text-decoration: none;
  }

  a:hover{
    color: $light-blue;
  }

  a.link-warn{
    color: $red;
  }

  a[disabled] {
    pointer-events: none;
    color: $light-grey;
  }

  /* ----------------------------------------------- */

  // Icon Links
  a.fa {
    color: $dark-blue;
    text-decoration: none;

    &[disabled] {
      color: $light-grey;
    }
  }

  .fa.fa-selected {
    color: $icon-highlighted;
  }

  .fa.fa-disabled {
    color: $icon-disabled;
  }

  .fa-color-invisible{
    color: rgba(0,0,0,0);
  }

  .fa-color-green{
    color: $green!important;

    &.fa-disabled{
      color: rgba( $green, .4 )!important;
    }
  }

  .fa-color-dark-green{
    color: $dark-green !important;

    &.fa-disabled{
      color: rgba( $dark-green, .4 )!important;
    }
  }

  .fa-color-orange{
    color: $orange !important;

    &.has-tip:hover {
      color: $dark-orange;
    }
  }

  .fa-color-light-blue{
    color: $dark-blue !important;
  }

  /* ----------------------------------------------- */

  // Tabs

  .tabs dd > a,
  .tabs .tab-title > a{
    color: $light-grey;
    &:hover{
      color: $dark-grey;
    }
  }
  .tabs dd.active a,
  .tabs .tab-title.active a{
    color: $dark-blue;
    border-bottom: 0.250em solid $dark-blue;
  }






  /* ----------------------------------------------- */

  // Message types

  //.message-warn {
  //  color: $orange;
  //}
  //
  //.message-error {
  //  color: $red;
  //}
  //
  //.message-success {
  //  color: $green;
  //}
  //
  //.message-subtext {
  //  color: $light-grey;
  //}




  &.nightmode {
    background: $nightmode-background;
    color: $nightmode-font-color;

    .glow {
      -webkit-animation: white-glow 0.5s 2 alternate;
    }

    h1, h2, h3, h4, h5, h6{
      color: $nightmode-font-color;
    }

    /* ----------------------------------------------- */

    // Links
    a,
    a:link{
      color: $nightmode-font-color;
    }

    a:hover{
      color: $light-blue;
      //color: $white;
    }

    a.link-warn{
      color: $red;
    }

    a[disabled] {
      color: $light-grey;
    }

    /* ----------------------------------------------- */

    // Icon Links
    a.fa {
      color: $light-blue;

      &[disabled] {
        color: $light-grey;
      }
    }

    .fa.fa-selected {
      color: $icon-highlighted;
    }

    .fa.fa-disabled {
      color: $icon-disabled;
    }

    .fa-color-invisible{
      color: rgba(0,0,0,0);
    }

    .fa-color-green{
      color: $green!important;

      &.fa-disabled{
        color: rgba( $green, .4 )!important;
      }
    }

    .fa-color-dark-green{
      color: $dark-green !important;

      &.fa-disabled{
        color: rgba( $dark-green, .4 )!important;
      }
    }

    .fa-color-orange{
      color: $orange !important;

      &.has-tip:hover {
        color: $dark-orange;
      }
    }

    .fa-color-light-blue{
      color: $dark-blue !important;
    }

    /* ----------------------------------------------- */

    // Tabs

    .tabs dd > a,
    .tabs .tab-title > a{
      color: $nightmode-font-color;
      &:hover{
        //color: $white;
        color: $light-blue;
      }
    }
    .tabs dd.active a,
    .tabs .tab-title.active a{
      color: $light-blue;
      border-bottom: 0.250em solid $light-blue;
    }

  }
}

