.positive-value {
  color: $green;
}

.negative-value {
  color: $red
}

.neutral-value {
  color: $light-grey;
}

.device-details {
  width: 400px;

  .name {
    font-weight: bold;
  }

  .material-name {
    padding-left: 3rem;
  }
}
